.header{
    height: 130vh;
    background: url('./src/images/header-logo.jpg') no-repeat center center;
    background: url('./src/images/header-logo-2.jpg') no-repeat center center;
    
    background-size: cover;
    background-attachment: fixed;
    
}


.header-inner{
    background-color: rgba(40, 60, 99, 0.719);
    background-color: rgba(233, 44, 44, 0.425);
    height: 100%;
    position: relative;
}

.header-full{
    position: relative;
    height: 100vh;
}

.header-sec-text{
    display: flex;
    justify-content: space-around;
    color: white ;

    font-size: 1vw;
}


.head-title{
    font-size: 23vw;
    line-height: 20vw;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.507);
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
    

}

.subtitle{
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    word-spacing: -1px;
    color: white;
    margin-bottom: 50px;
    margin-left: 2vw;
}

.header-mid-text{
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
}

.header-mid-text::before{
    content: ' ';
    width: 12vw;
}

.header-smalltext{
    width: 35vh;
    font-size: 1.7vh;
    color: white;

}

.bottom-left{
    position: absolute;
    bottom: -1%;
    left: 0%;
    background-color: white;
    height: 30vh;
    width: 50vw;
    
}



.flick{
    width: 60%;
    margin: 15px;

    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 740px) {
    .header-sec-text{
        font-size: 1.8vw;
    }
   
}
@media (max-width: 440px) {
    .header{
        height: 120vh;
    }
    .header-full{
        height: 90vh;
    }
    .head-title{
        line-height: 32vw;
        font-size: 42vw;
        font-weight: 700;
        padding-top: 40px;

        transform: none !important;
        left: 0;
    }

    .header-fire::after,.header-fist::after, .solu::after{
        content: '';
        display: block;
    }
    .bottom-left{
        width: 65vw;
    }
    .flick{
        width: 80%;
    }

    .header-sec-text{
        font-size: 3vw;
    }
    .header-smalltext{
        display: none !important;
    }
}
