.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;
}

.quote-text{
    font-weight: 300;
    font-size: 3.4vw;
    text-align: center;
    width: 65%;
    text-transform: uppercase;
}

.quote-sub{
    margin-top: 30px;
    padding-left: 30vw;
    width: 50vw;
    text-align: center;

}

.quote{
   /* border-bottom: 1px solid #cccccc73; */
}

@media (max-width: 768px){
    .quote-text{
        font-size: 5vw;
    }
}

@media (max-width: 480px){
    .quote-text{
        font-size: 6vw;
    }
    .quote-sub{
        display: none;
    }
}